<a href="https://colab.research.google.com/github/atlas-github/20190731SMG/blob/master/1_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("Hello World")

# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general. There are recommended sources at the bottom part of this notebook to help you learn more about Python programming. 

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()

# Why Python?

1. Itâ€™s easy to learn
2. Now the language of choice for 8 of 10 top US computer science
programs (Philip Guo, CACM)
3. Full featured
4. Not just a statistics language, but has full capabilities for data
acquisition, cleaning, databases, high performance computing, and more
5. Strong Data Science Libraries
6. The SciPy Ecosystem


It's important to note that Python isn't the only way that we could teach data science. We can teach data science in R, in Excel, in any number of software packages.  That's because Python is a tool that data scientists use, but the concepts are more important for you to understand.

## Data types

### Numbers

Python can also handle numbers, and basic arithmetic using the following functions.

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | modulo |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [0]:
1 + 1

In [0]:
1 * 3

In [0]:
1 / 2

In [0]:
2 ** 4

In [0]:
4 % 2

In [0]:
5 % 2

In [0]:
(2 + 3) * (5 + 5)

### Variable Assignment

In [0]:
# Cannot start with number or special characters
name_of_var = 2

In [0]:
x = 2
y = 3

In [0]:
x*y

In [0]:
z = x + y

In [0]:
z

### Strings

A string is a set of characters.  Strings are used to store data that is _text_.

In Python, Strings are abbreviated "str" and there are many built-in features that allow you to manipulate those strings.  

Strings can be enclosed by either double or single quotes, although single quotes are more common.

In [0]:
a = "Najib"

In [0]:
a

In [0]:
'single quotes'

In [0]:
"double quotes"

Question: Why would you want to use double quotes on occasion?

In [0]:
" wrap lot's of other quotes"

#### String Operations

s + t -- the concatenation of s and t

n * s -- equivalent to adding s to itself n times

In [0]:
b + " Fries"

In [0]:
b = 'French' # Concatenation works quite intuitively
print((b + ' Fries'))

In [0]:
c = "yay! "
print(c * 5)

#### Slices of String Indices

Characters in a string can be accessed using the standard [ ] syntax, and like Java and C++, Python uses zero-based indexing.  This concept will extend much further than strings.

This is easiest to think about if you think of each letter as being in its own box.

s ='hello'

s[1:4] is 'ell' -- chars starting at index 1 and extending up to but not including index 4

s[1:] is 'ello' -- omitting either index defaults to the start or end of the string

s[:] is 'Hello' -- omitting both always gives us a copy of the whole thing (this is the pythonic way to copy a sequence like a string or list)

s[1:100] is 'ello' -- an index that is too big is truncated down to the string length

s[-1] is 'o' -- last char (1st from the end)

s[-4] is 'e' -- 4th from the end

s[:-3] is 'He' -- going up to but not including the last 3 chars.

s[-3:] is 'llo' -- starting with the 3rd char from the end and extending to the end of the string.

 h  e  l  l  o <br>
 0  1  2  3  4<br>
-5 -4 -3 -2 -1<br>


s[i] -- ith item of s, origin 0

s[i:j] -- slice of s from i to j

s[i:j:k] -- slice of s from i to j with step k

In [0]:
s='hello'

In [0]:
s[0:3]

In [0]:
s[1:]

#### Common built- in methods

min(s) -- smallest item of s	

max(s) -- largest item of s	 

s.count(x) -- total number of occurrences of x in s	

s.lower(), s.upper() -- returns the lowercase or uppercase version of the string

s.strip() -- returns a string with whitespace removed from the start and end

s.isalpha()/s.isdigit()/s.isspace()... -- tests if all the string chars are in the various character classes

s.startswith('other'), s.endswith('other') -- tests if the string starts or ends with the given other string

s.replace('old', 'new') -- returns a string where all occurrences of 'old' have been replaced by 'new'

s.split('delim') -- returns a list of substrings separated by the given delimiter. The delimiter is not a regular expression, it's just text. 'aaa,bbb,ccc'.split(',') -> ['aaa', 'bbb', 'ccc']. As a convenient special case s.split() (with no arguments) splits on all whitespace chars.

s.join(list) -- opposite of split(), joins the elements in the given list together using the string as the delimiter. e.g. '---'.join(['aaa', 'bbb', 'ccc']) -> aaa---bbb---ccc

In [0]:
st = 'Hello my name is Wyhow'

In [0]:
st.upper()

In [0]:
st.lower()

In [0]:
st.split()

In [0]:
tweets = 'This is a tweets @jackma'

In [0]:
tweets.split('@')[1]

### Printing

In [0]:
x = 'hello'

In [0]:
x

In [0]:
print(x)

### Format

The % operator takes a printf-type format string on the left (%d int, %s string, %f/%g floating point), and the matching values in a tuple on the right (a tuple is made of values separated by commas, typically grouped inside parenthesis)

In [0]:
num = 'twelve'
name = 'Wyhow'

In [0]:
print('My number is: %d, and my name is: %s' %(num,name))

In [0]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

In [0]:
print('My number is: {}, and my name is: {}'.format(num,name))

### Lists

Like a string, a **list** is a sequence of values. In a string, the values are characters; in a list, they can be any type. The values in list are called **elements** or sometimes **items**.

List elements are written within square brackets [ ]. Square brackets [ ] access data, with the first element at index 0.  Many of the operations defined above for strings also apply to lists. So it can be convenient to think of a string simply as a list of characters.

In [0]:
[1,2,3]

In [0]:
a = [1, 2,3]

In [0]:
a

In [0]:
['hi',1,[1,2]]

In [0]:
my_list = ['a','b','c']

In [0]:
my_list.append('d')

In [0]:
my_list

In [0]:
my_list[0]

In [0]:
my_list[1]

In [0]:
my_list[1:]

In [0]:

my_list[:1]

In [0]:
my_list[0] = 'NEW'

In [0]:
my_list

In [0]:
nest = [1,2,3,[4,5,['target']]]

In [0]:
nest[3]

In [0]:
nest[3][2]

In [0]:
nest[3][2][0]

### List Methods

- list.append(elem) -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
- list.insert(index, elem) -- inserts the element at the given index, shifting elements to the right.
- list.extend(list2) adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
- list.index(elem) -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
- list.remove(elem) -- searches for the first instance of the given element and removes it (throws ValueError if not present)
- list.sort() -- sorts the list in place (does not return it).
- sorted(list) -- return sorted list but keeps the original order of the list
- list.reverse() -- reverses the list in place (does not return it)
- list.pop(index) -- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).

In [0]:
my_new_list = [5,10,15]

In [0]:
my_new_list.append(20)

In [0]:
my_new_list

In [0]:
sorted(my_new_list)

### Dictionaries

Python's efficient key/value hash table structure is called a "dict".

A dictionary is similar to a list, but you access values by looking up a key instead of an index. A key can be any string or number.

The contents of a dict can be written as a series of key:value pairs within braces { }, e.g. dict = {key1:value1, key2:value2, ... }.

The "empty dict" is just an empty pair of curly braces {}.

Looking up or setting a value in a dict uses square brackets, e.g. dict['foo'] looks up the value under the key 'foo'. Strings, numbers, and tuples work as keys, and any type can be a value. Other types may or may not work correctly as keys.

Dictionaries are mutable!

In [0]:
d = {'key1':'item1','key2':'item2'}

In [0]:
d

In [0]:
d['key1']

### Dictionary Methods

- len(dict) -- Gives the total length of the dictionary. This would be equal to the number of items in the dictionary.
- str(dict) -- Produces a printable string representation of a dictionary
- type(variable) -- Returns the type of the passed variable. If passed variable is dictionary, then it would return a dictionary type.
- dict.clear() -- Removes all elements of dictionary dict
- dict.copy() -- Returns a shallow copy of dictionary dict
- dict.fromkeys() -- Create a new dictionary with keys from seq and values set to value.
- dict.get(key, default=None) -- For key key, returns value or default if key not in dictionary
- dict.items() -- Returns a list of dict's (key, value) tuple pairs
- dict.keys() -- Returns list of dictionary dict's keys
- dict.setdefault(key, default=None) -- Similar to get(), but will set dict[key]=default if key is not already in dict
- dict.update(dict2) -- Adds dictionary dict2's key-values pairs to dict
- dict.values() -- Returns list of dictionary dict's values

In [0]:
d.keys()

In [0]:
d.items()

### Booleans

In [0]:
True & False

In [0]:
False

### Tuples 

A tuple is a fixed size grouping of elements, such as an (x, y) co-ordinate. Tuples are like lists, except they are **immutable** and do not change size (tuples are not strictly immutable since one of the contained elements could be mutable). Tuples are a convenient way to pass around a little logical, fixed size bundle of values. A function that needs to return multiple values can just return a tuple of the values.

In [0]:
t = (1,2,3)

In [0]:
t[0]

In [0]:
t[0] = 'NEW'

## Comparison Operators

In [0]:
1 > 2

In [0]:
1 < 2

In [0]:
1 >= 1

In [0]:
1 <= 4

In [0]:
1 == 1

In [0]:
'hi' == 'hi'

## Logic Operators

In [0]:
(1 > 2) and (2 < 3)

In [0]:
(1 > 2) or (2 < 3)

In [0]:
(1 == 2) or (2 == 3) or (4 == 4)

## if, elif, else Statements

In [0]:
if 1 > 2:
    print('Yep!')

In [0]:
if 1 < 2:
    print('yep!')

In [0]:
if 1 < 2:
    print('first')
else:
    print('last')

In [0]:
if 1 > 2:
    print('first')
else:
    print('last')

In [0]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

## for Loops

Python's *for* and *in* constructs are extremely useful, and the first use of them we'll see is with lists. The *for* construct -- for var in list -- is an easy way to look at each element in a list (or other collection).

In [0]:
seq = ['hi', 'why', 'hello']

In [0]:
for item in seq:
    print(seq)

In [0]:
for item in seq:
    print('Yep')

In [0]:
for spongebob in seq:
    print(spongebob+spongebob)

## while Loops

In [0]:
i = 2
while i <= 500:
    print('i is: {}'.format(i))
    i = i**3

## range()

In [0]:
range(5)

In [0]:
for i in range(5):
    print(i)

In [0]:
list(range(5))

# Where to go from here

| Link | Image |
|----|---|
| [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do)  | !<img src=https://covers.oreillystatic.com/images/0636920034919/lrg.jpg width="300"> |
| [Python Crash Course](https://nostarch.com/pythoncrashcourse)  | !<img src=https://nostarch.com/sites/default/files/styles/uc_product_full/public/pcc2e_cover-front_final.png width="300">